.contact-parent {
    position: relative;
    height: 700px;
    @media(max-width:450px) {
        height: auto;
    }
}
// Start Contact Section
.sec-contact{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	align-items: center;
    @media(max-width:450px) {
            align-items: flex-start;
            padding-top: 0;
            position: static;
            transform: translate(0,0);
            width:100%;
            box-sizing: border-box;
        }
        // Social Links
    .social-li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
        @media(max-width:450px){
                display: none;
            }
        a{
            padding: 20px;
            color:#7b7c7c;
            font-size:1.1rem;
            text-decoration:none;
            &:hover{
                color:#000000;
                transition: all ease 0.3s;
            }
        }
    }
    .contact-box {
        background-color: var(--purple);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 30px;
        box-shadow: 2px 0px 30px rgba(0,0,0,0.1);
        @media(max-width:450px) {
                padding: 60px 30px;
                width: 100%;
                box-sizing: border-box;
            }
        .c-heading {
            h1 {
                color: #ffffff;
                font-size: 2.3rem;
                margin: 0px;
                padding: 0px;
                @media(max-width:450px) {
                        font-size: 2.2rem;
                        text-align: center;
                    }
            }
            p {
                color:#ffffff;
                font-size: 0.8rem;
                margin: 0px;
                padding: 0px;
                text-align: center;
            }
        }
        // Form Inputs 
        .c-inputs {
            margin: 15px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            input {
                width:250px;
                height: 45px;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid rgba(251,251,251,0.1);
                outline: none;
                margin: 10px 0px;
                padding: 10px;
                box-sizing: border-box;
                color: #f4f4f4;
                display: flex;
                &::placeholder {
                    color: rgb(219, 215, 215);
                }
            }
            textarea {
                width:250px !important;
                height: 200px !important;
                outline: none;
                background-color: transparent;
                border:1px solid rgba(82,82,82,1);
                color: #f4f4f4;
                padding: 10px;
                font-size: 1.2rem;
                box-sizing: border-box;
                &::placeholder {
                    color: rgb(219, 215, 215);
                }
            }
            input:focus {
                border-bottom: 1px solid rgba(252,252,252,1.00);
                transition: all ease 0.5s;
            }
            textarea:focus {
                border: none;
                border-bottom: 1px solid rgba(255,255,255,1.00);
                transition: all ease 0.5s;
                background-color: rgba(0,0,0,0.1);
            }
        }
    }
}
// Map
.map {
	filter: grayscale(0.2);
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border: 2px solid #FFFFFF;
    @media(max-width:1100px) {
        display: none;
     }
}