// Main Colors of Template
:root {
    --blue: #53a5f8;
    --purple: #31064d;
}
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
// Hide Scroll bar when Loading website
body {
    overflow: hidden;
}
// Make Scroll Smooth
html {
    scroll-behavior: smooth;
}
// Home Section
.home {
    padding: 60px 0;
    background-color: var(--purple);
    color: white;
    @media screen and (max-width: 767px) {
        padding-top: 40px;
        .home-img {
            display: none;
        }
    }
    @media screen and (max-width: 991px) {
        img {
            margin-top: 60px;
        }
    }
    .home-price {
        background-color: #3e075f;
        padding: 10px 15px;
        width: 100%;
        border-radius: 25px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 455px) {
             width: 100%;
             padding: 10px;
        }
        p {
            margin: 0;
            color: #e8e6e6;
        }
        span {
            padding: 2px 5px;
            font-size: 13px;
            background-color: var(--blue);
            width: 52px;
            border-radius: 15px;
            text-align: center;   
            margin-left: auto; 
        }
    }
    h2 {
        font-size: 65px;
        font-weight: bold;
        margin-top: 30px;
        @media screen and (max-width: 991px) {
            font-size: 42px;
        }
        @media screen and (max-width: 298px) {
            font-size: 35px;
        }
    }
    ul {
        margin-top: 40px;
        li {
            line-height: 2;
            &::before {
                content: "\f00c";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                margin-right: 8px;
            }
            @media screen and (max-width: 298px) {
               font-size: 14px;
            }
        }
    }
    .btns {
        display: inline-block;
    }
}
// Start Domian Section
.domain {
    background-color: #f7f5f5;
    background-size: cover;
    padding: 60px 0;
    position: relative;
    // Domain Heading
    h2 {
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 20px;
        @media screen and (max-width: 576px) {
            font-size: 25px;
        }
    }
    // Search Input
    .input {
        margin: 40px auto;
        background-color: white;
        display: flex;
        width: 45%;
        @media screen and (max-width: 990px) {
            width: 70%;
        }
        @media screen and (max-width: 768px) {
            width: 80%;
        }
        @media screen and (max-width: 455px) {
           display: block;
           width: 100%;
           margin: 0 auto;
        }
        .domain-input {
            padding: 10px;
            outline: none;
            border: 0;
            width: 75%;
            margin-left: 10px;
            @media screen and (max-width: 455px) {
                display: block;
                margin: auto;
                text-align: center;
            }
        }
    }
    .domain-curr {
        display: flex;
        justify-content: center;
        @media screen and (max-width: 455px) {
            margin-top: 40px;
        }
        p {
            display: inline-block;
            color: #888787;
            font-size: 18px;
            text-align: center;
        }
        &>div:not(:last-child) {
            margin-right: 40px;
            @media (max-width: 350px) {
              margin-right: 10px;
            }
        }
        .half-width {
            @media screen and (max-width: 455px) {
                width: 50%;
            }
        }
        .com,
        .org,
        .net,
        .tech {
            display: flex;
            @media screen and (max-width: 576px) {
                margin: auto;
                width: 50%;
                justify-content: center;
            }
         h4 {
             font-weight: bold;
             margin-right: 10px;
         }
    }
    }
}
// Start Plans Section
.plans {
    padding: 60px 0;
    @media screen and (max-width: 576px) {
        text-align: center;
        padding-bottom: 0;
    }
    // Plans Heading
    h2 {
        font-size: 35px;
        font-weight: bold;
        @media screen and (max-width: 576px) {
            font-size: 25px;
        }
    }
    p {
        font-size: 17px;
    }
    // Cart Item
    .cart {
        margin: 60px 30px 30px 0;
        border-radius: 8px;
        padding-left: 20px;
        transition: 1s all ease-in-out;
        border-top: 4px solid #fff;
        @media screen and (max-width: 576px) {
            margin: 20px 0 0 0;
            padding-left: 0;
        }
        &:hover {
            border-top: 4px solid var(--blue);
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)
        }
        &:hover .cart-icon {
            color: white;
            background-color: var(--blue);
        }
        // Cart Icon
        .cart-icon {
            padding: 15px;
            background-color: #f2f7fb;
            width: 70px;
            text-align: center;
            border-radius: 8px;
            margin-top: 30px;
            color: var(--blue);
            transition: 1s;
            @media screen and (max-width: 576px) {
                margin: 20px auto;
                display: block;
            }
        }
        h4 {
            font-weight: bold;
            margin-top: 20px;
            font-size: 22px;
        }
        p {
            margin-top: 10px;
            line-height: 1.7;
            padding-right: 50px;
            padding-bottom: 25px;
            @media screen and (max-width: 576px) {
                padding-right: 0;
                text-align: center;
            }
        }
    }
}
// start Wordpress Sections
.wordpress-one,
.wordpress-two,
.wordpress-three {
    @extend .wordpress;
}
// Modifications on Wordpress three Section
.wordpress-three {
    background-color: var(--purple);
    .img {
        @media screen and (max-width: 768px) {
            text-align: center;
            margin-top: 0 !important;
            }
        }
    .press-text {
        @media screen and (max-width: 768px) {
           text-align: center;
        }
        h5 {
            @media screen and (max-width: 768px) {
                margin-top: 5px !important;
             }
        }
        h2 {
            color: white;
        }
        p {
            color: #f7efef !important;
        }
    }
}
// Start Prices Section 
.prices {
    padding: 60px 0;
    background-color: #eee;
    //Prices Heading 
    h2 {
        font-size: 35px;
        font-weight: bold;
        @media screen and (max-width: 576px) {
            font-size: 25px;
        }
    }
    p {
        font-size: 17px;
    }
    // Toggle Between Prices 
    .prices-toggle {
        display: flex;
        align-items: center;
        padding: 10px;
        width: 30%;
        margin: 35px auto 50px auto;
        background-color: white;
        @media screen and (max-width:991px) {
            width: 50%;
        }
        @media screen and (max-width:500px) {
            width: 90%;
        }
        .mo {
            width: 50%;
            text-align: center;
            padding: 5px 0;
            border-radius: 2px;
            cursor: pointer;
        }
        // Active Price
        .active {
            background-color: var(--blue);
            color: white
        }
    }
    // Price Item
    .price-col {
        min-height: 630px;
        background-color: white;
        position: relative;
        @media screen and (max-width: 991px) {
            margin-bottom: 20px;
        }
        /* Ribbon */
        .ribbon {
            width: 150px;
            height: 150px;
            overflow: hidden;
            position: absolute;
        }
        .ribbon::before,
        .ribbon::after {
            position: absolute;
            z-index: -1;
            content: '';
            display: block;
            border: 5px solid var(--blue);
        }
        .ribbon span {
            position: absolute;
            display: block;
            width: 225px;
            padding: 15px 0;
            background-color: var(--blue);
            box-shadow: 0 5px 10px rgba(0,0,0,.1);
            color: #fff;
            font: 700 18px/1 'Lato', sans-serif;
            text-shadow: 0 1px 1px rgba(0,0,0,.2);
            text-transform: uppercase;
            text-align: center;
        }
        /* top right*/
        .ribbon-top-right {
            top: -10px;
            right: -10px;
        }
        .ribbon-top-right::before,
        .ribbon-top-right::after {
            border-top-color: transparent;
            border-right-color: transparent;
        }
        .ribbon-top-right::before {
            top: 0;
            left: 0;
        }
        .ribbon-top-right::after {
            bottom: 0;
            right: 0;
        }
        .ribbon-top-right span {
            left: -25px;
            top: 30px;
            transform: rotate(45deg);
            @media screen and (max-width: 375px) {
                left: 0;
                top: 20px;
            }
        }

        .price-img {
            text-align: center;
            
        img {
            width: 220px;
            margin-top: 20px;
            height: 150px;      
          }
        }
        h3 {
            font-weight: 600;
            margin-top: 20px;
        }
        h4 {
            color: var(--blue);
            margin: auto;
            font-weight: bold;
            font-size: 30px;
            span {
                font-size: 20px;
                font-weight: normal;
            }
        }
        // Horizental Line
        hr {
            width: 75%;
            margin: 20px auto;
            border: 1px solid #dad3d3;
        }
        // List of Features
        ul {
            margin-left: 45px;
            @media screen and (max-width: 768px) {
                text-align: center;
                margin-left: 0
            }
            li {
                line-height: 2;
                color: #6c757d;
                &::before {
                    content: "\f00c";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    margin-right: 8px;
                    color: #6c757d;
                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }
            }
        }
    }
}
// Start Location Section
.location {
    padding: 60px 0;
    @media screen and (max-width: 576px) {
        padding: 60px 0;
     }
    //  Location Heading
    h2 {
        font-size: 35px;
        font-weight: bold;
        @media screen and (max-width: 576px) {
            font-size: 25px;
        }
    }
    p {
        font-size: 17px;
    }
    // Chart
    #chartdiv {
        width: 100%;
        height: 500px;
        overflow: hidden;
        margin-top: 50px;
        @media screen and (max-width: 576px) {
           height: 300px ;
           margin-top: 10px;
        }
      }
}
// Start Testimonials Section
.testimonials {
    padding: 60px 0;
    position: relative;
    // Testimonials Heading
    h2 {
        font-size: 35px;
        font-weight: bold;
        @media screen and (max-width: 576px) {
            font-size: 25px;
        }
    }
    .about-person {
        @media screen and (max-width: 400px) {
            font-size: 15px;
        }
    }
    // Carousel Indicators
    .carousel-indicators {
        margin-bottom: 0 !important;
        & [data-bs-target]:focus {
            outline: none !important;
        }
    }
    // Item
    .testi-item {
        margin-top: 20px;
        border: 1px solid #f5f3f3;
        .author {
            margin-left: 2rem !important;
        }
    }
}
// Start Contact Section 
.contact {
    background-color: var(--purple);
    padding: 60px 0;
    @media screen and (max-width: 768px) {
        text-align: center;
    }
    // Contact Text
    .contact-txt {
        h2 {
            color: white;
            font-size: 41px;
            font-weight: bold;
            @media screen and (max-width : 767px) {
                font-size: 22px;
            }
            @media screen and (max-width : 991px) {
                font-size: 30px;
            }
        }
    }
    @media screen and (max-width : 767px) {
        img {
           display: none;
        }
    }
}
// Classes to extend
.wordpress {
    padding: 60px 0;
    position: relative;
    @media screen and (max-width: 576px) {
        text-align: center;
    }
    .img {
        @media (max-width: 768px) {
            margin-top: 20px;
        }
    }
    .press-text {
        width: 70%;
        @media screen and (max-width: 991px) {
            width: 100%;
        }
        h5 {
            color: var(--blue);
            font-size: 19px;
            @media screen and (max-width: 768px) {
                margin-top: 20px;
            }
        }
        h2 {
            font-weight: bold;
            font-size: 35px;
            line-height: 1.5;
            margin: 20px 0;
            @media screen and (max-width: 576px) {
                font-size: 25px;
            }
        }
        p {
            line-height: 1.6;
            font-size: 19px;
            margin: 26px 0;
        }
        .start {
            color: var(--blue);
            margin-top: 10px;
            text-decoration: none;
            font-weight: 600;
            border-bottom: 2px solid var(--blue);
            padding: 5px 0;
            .fa-arrow-right {
                margin-left: 8px;
            }
        }
    }
}
.center-v {
    @include center-vertically;
}