// Rgister page Background
.bg-register {
    background-color: #ead0be;
    height: 100%;
}
// Modifications on Login page
.login-row {
    img {
        height: 100%;
        object-fit: cover;
    }
    // Register Text
    .txt {
        padding-top: 0px;
        @media screen and (max-width: 1200px) {
            padding-left: 3rem!important;
            padding-right: 0 !important;
        }
        @media screen and (max-width: 768px) {
            padding-right: 3rem !important;
            padding: 30px 0;
        }
        @media screen and (max-width: 376px) {
            padding-right: 1rem !important;
            padding-left: 1rem !important;
        }
        @media screen and (max-width: 484px) {
            h1 {
                font-size: 24px;
                padding-bottom: 5px !important ;
                padding-top: 0px !important;
            }
            h4 {
                font-size: 16px;
                display: block;
                
            }
            input[type='email'] {
                margin-top: 1rem !important;
                margin-bottom: 1rem !important;
            }
            label {
                width: 75%;
            }
            a,p {
                font-size: 16px !important;
            }
        }
    }
}